<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_,~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/article/form.css"/>
        <script src="/js/page/valid_board.js"></script>
        <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css"/>
        <script src="/node_modules/summernote/dist/summernote-bs4.min.js"></script>
        <script src="/js/page/summernote_article.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <form th:action="@{/articles}" th:method="post" th:object="${articleForm}" id="board-form" novalidate>
                <div id="error-message">
                    <span th:if="${#fields.hasErrors('topicId')}" th:errors="*{topicId}" class="form-text text-danger"></span>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="form-text text-danger"></span>
                    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="form-text text-danger"></span>
                </div>
                <label hidden>
                    <input type="text" name="topicId" th:value="*{topicId}" hidden>
                </label>
                <div id="bar">
                    <label id="title">
                        <input type="text" th:field="*{title}" placeholder="새 아티클" required maxlength="30">
                        <small class="invalid-feedback"><i class="fa fa-ban"></i></small>
                        <small class="valid-feedback"><i class="fa fa-check"></i></small>
                    </label>
                    <button type="submit" id="form-submit">save</button>
                </div>
                <div class="form-checks">
                    <label for="radio-1"><input th:field="*{status}" type="radio" id="radio-1" value="PUBLIC"/>public</label>
                    <label for="radio-2"><input th:field="*{status}" type="radio" id="radio-2" value="PRIVATE"/>private</label>
                    <small th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="form-text text-danger"></small>
                </div>
                <label id="editor-wrapper">
                    <textarea id="editor" th:field="*{content}" placeholder="본문" required></textarea>
                    <small class="invalid-feedback"><i class="fa fa-ban"></i></small>
                    <small class="valid-feedback"><i class="fa fa-check"></i></small>
                </label>
            </form>
        </section>
    </body>

</html>
