<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${#authentication.name},~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/board/article/private.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>

            <h1><span th:text="${#authentication.name}"></span>의 비공개 아티클</h1>

            <ul>
                <li th:each="article:${articles}">

                    <div class="left">
                        <a class="title" th:href="'/articles/'+${article.id}" th:text="${article.title}"></a>
                        <span th:each="tag:${article.tags}"><a th:href="'/tags/'+${tag}" th:text="${tag}" class="tag"></a></span>
                        <span class="article-sub-info">
                            <span th:text="${article.reply}"></span>
                            <span th:text="${article.read}"></span>
                            <span th:text="${article.like}"></span>
                        </span>
                    </div>
                    <div class="right">
                        <a class="writer" th:href="'/@'+${article.owner}" th:text="${article.owner}"></a>
                        <span class="date" th:text="${article.createdAt}"></span>
                    </div>

                </li>
            </ul>

        </section>
    </body>

</html>
