<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${#authentication.name},~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/article/private.css"/>
        <script src="/js/ajax/private_articles.js"></script>
        <script type="text/template" id="private-article-template">
            <li class="private">
                <div class="article-info">
                    <span>temp</span> <a href="/articles/{id}">{title}</a>
                    <div class="article-sub-info"><span class="article-date">{date}</span></div>
                </div>
            </li>
        </script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>

            <h1><span th:text="${#authentication.name}"></span>의 비공개 아티클</h1>

            <ul id="private-articles"></ul>

        </section>
    </body>

</html>
