<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/board/article/tags.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <h1>디너의 모든 태그</h1>
            <ul>
                <li th:each="tag:${tags}">
                    <a th:href="'/tags/'+${tag}" th:text="${tag}">개별 태그</a>
                </li>
            </ul>
        </section>
    </body>

</html>
