<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/board/article/tags.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>

            <div class="centered title">태그 목록</div>
            <div class="space"></div>
            <ul id="tags" class="children">
                <li th:each="tag:${tags}" class="tag-link">
                    <div>
                        <div class="centered tag-title">
                            <a th:href="'/tags/'+${tag.name}" th:text="${tag.name}">개별 태그</a>
                        </div>
                        <div class="centered">
                            (<span th:text="${tag.count}"></span>)
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </body>

</html>
