<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_,~{::link}, ~{::script})">
        <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css"/>
        <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
        <link rel="stylesheet" href="/css/page/board/article/form.css"/>
        <script src="/node_modules/summernote/dist/summernote-bs4.min.js"></script>
        <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
        <script src="/js/config/summernote.js"></script>
        <script src="/js/config/tagify.js"></script>
        <script src="/js/validate/in_board.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <form th:action="'/articles/'+${id}" th:method="put" th:object="${updateForm}" id="board-form" novalidate>
                <div id="bar">
                    <label id="title">
                        <input type="text" th:field="*{title}" placeholder="제목은 20자까지 가능합니다." required maxlength="20">
                        <small class="invalid-feedback"><i class="fa fa-ban"></i></small>
                        <small class="valid-feedback"><i class="fa fa-check"></i></small>
                    </label>
                    <button type="submit" id="form-submit">save</button>
                </div>
                <label id="editor-wrapper">
                    <textarea id="editor" th:field="*{content}" placeholder="본문" required></textarea>
                    <small class="invalid-feedback"><i class="fa fa-ban"></i></small>
                    <small class="valid-feedback"><i class="fa fa-check"></i></small>
                </label>
                <div id="under-bar">
                    <input th:type="text" id="tagInput" th:field="*{jsonTags}" placeholder="태그 (최대 3개, 한글/영(소)/숫자/_)"><label for="tagInput"></label>
                    <div th:text="${_csrf.token}" id="tagify-csrf" hidden></div>
                    <div class="form-checks">
                        <label for="radio-1"><input th:field="*{status}" type="radio" id="radio-1" value="PUBLIC"/>public</label>
                        <label for="radio-2"><input th:field="*{status}" type="radio" id="radio-2" value="PRIVATE"/>private</label>
                    </div>
                </div>
            </form>
        </section>
    </body>

</html>
