<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:replace="layout/layout::head(${article.title},~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/article/view.css"/>
        <script sec:authorize="isAuthenticated()" src="/js/ajax/like.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section th:object="${article}">

            <div class="info">
                <h2 class="parent"><a th:href="'/topics/'+*{topic.id}" th:text="*{topic.title}"></a></h2>
                <h1 class="title" th:text="*{title}"></h1>
                <div class="bi-line">
                    <a th:each="tag:*{tags}" th:text="${tag}" th:href="@{'/tags/'+${tag}}" class="tag"></a></div>
                <div id="sub-info">
                    <span class="person"><a th:href="'/@'+*{owner}" th:text="*{owner}"></a></span>
                    <span id="date" th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd')}"></span>
                </div>
            </div>

            <div id="button-container-wrapper">
                <div id="button-container" sec:authorize="isAuthenticated()">
                    <form th:if="${#authentication.name}==*{owner}" th:action="'/articles/'+*{id}+'/form'" method="get">
                        <button type="submit">update</button>
                    </form>
                    <form th:if="${#authentication.name}==*{owner}" th:action="'/articles/'+*{id}" th:method="delete">
                        <button type="submit">delete</button>
                    </form>
                </div>
            </div>

            <div th:if="${article.publicized==false}" class="draft">
                비공개 게시글입니다. 수정화면을 통해 공개하실 수 있습니다.
            </div>

            <article th:text="*{content}"></article>


            <div class="point">
                <span>read: <span th:text="*{read}"></span></span>
                <span>like: <span th:text="*{like}" id="like-count"></span></span>
                <th:block sec:authorize="isAuthenticated()">
                    <div th:text="${_csrf.token}" id="csrf" hidden></div>
                    <div th:text="*{id}" id="articleId" hidden></div>
                    <button id="like" type="submit"><i class="fa fa-heart-o" id="like-icon"></i></button>
                </th:block>
            </div>

            <div id="reply-form-container">
                <div sec:authorize="!isAuthenticated()">
                    Reply need login.
                </div>
                <form sec:authorize="isAuthenticated()" th:action="'/articles/'+*{id}+'/replies'" th:method="post">
                    <span th:text="${#authentication.name}" class="person"></span>
                    <input type="text" name="content" placeholder="reply" id="reply-input">
                    <label for="reply-input"></label>
                    <button type="submit">write</button>
                </form>
            </div>

            <table id="replies" class="children">
                <tr th:each="reply:*{replies}">
                    <td class="writer-col">
                        <a th:href="@{'/@'+${reply.owner}}" th:text="${reply.owner}" class="person"></a>
                    </td>
                    <td class="content-col">
                        <span th:text="${reply.content}"></span>
                    </td>
                    <td>
                        <div th:if="${#authentication.name}==${reply.owner}">
                            <form th:action="'/articles/'+*{id}+'/replies/'+${reply.id}" th:method="delete" class="reply-delete">
                                <button type="submit">delete</button>
                            </form>
                        </div>
                    </td>
                    <td class="date-col">
                        <span th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd')}"></span>
                    </td>
                </tr>
            </table>

        </section>
    </body>

</html>
