<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:replace="layout/layout::head(${article.title},~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/article/view.css"/>
        <script src="/js/ajax/like.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section th:object="${article}">

            <div class="info">
                <h2 id="topic"><a th:href="'/topics/'+*{topic.id}" th:text="*{topic.title}"></a></h2>
                <h1 id="title" th:text="*{title}"></h1>
                <div><a th:each="tag:*{tags}" th:text="${tag}" th:href="@{'/tags/'+${tag}}" class="tag"></a></div>
                <div id="sub-info">
                    <div>
                        <span id="writer"><a th:href="'/@'+*{owner}" th:text="*{owner}"></a></span>
                        <span id="date" th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                    <div>
                        <span>Read: <span th:text="*{read}"></span></span>
                        <span>Like: <span th:text="*{like}" id="like-count"></span></span>
                        <th:block sec:authorize="isAuthenticated()">
                            <form id="like-form" th:method="post" th:action="@{/api/like}">
                                <label hidden>
                                    <input type="text" name="articleId" th:value="*{id}" hidden>
                                    <input type="text" name="username" th:value="${#authentication.name}" id="username" hidden>
                                </label>
                                <button id="like" type="submit"><i class="fa fa-heart-o" id="like-icon"></i></button>
                            </form>
                        </th:block>
                    </div>
                </div>
            </div>

            <div id="button-container" sec:authorize="isAuthenticated()">
                <form th:if="${#authentication.name}==*{owner}" th:action="'/articles/'+*{id}+'/form'" method="get">
                    <button type="submit">update</button>
                </form>
                <form th:if="${#authentication.name}==*{owner}" th:action="'/articles/'+*{id}" th:method="delete">
                    <button type="submit">delete</button>
                </form>
            </div>

            <div th:if="${article.publicized=='PRIVATE'}">
                비공개 게시글입니다. 수정화면을 통해 공개하실 수 있습니다.
            </div>

            <article th:utext="*{content}"></article>

            <ul>
                <li th:each="reply:*{replies}">
                    <span><a th:href="@{'/@'+${reply.owner}}" th:text="${reply.owner}"></a></span>
                    <span th:text="${reply.content}"></span>
                    <span th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                    <form th:if="${#authentication.name}==${reply.owner}" th:action="@{/replies}" th:method="delete">
                        <label>
                            <input type="text" name="articleId" th:value="*{id}" hidden>
                            <input type="text" name="replyId" th:value="${reply.id}" hidden>
                        </label>
                        <button type="submit">delete</button>
                    </form>
                </li>
            </ul>

            <div sec:authorize="!isAuthenticated()">
                Reply need login.
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/replies}" th:method="post">
                    <span th:text="${#authentication.name}"></span>
                    <label>
                        <input type="text" name="articleId" th:value="*{id}" hidden>
                        <input type="text" name="content" placeholder="reply">
                    </label>
                    <button type="submit">write</button>
                </form>
            </div>

        </section>
    </body>

</html>
