<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${title},~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/board/article/view.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>

            <div class="info">
                <h2 id="topic"><a th:href="@{'/board'+'/'+${magazine}+'/'+${topic}}" th:text="${topic}"></a></h2>
                <h1 id="title" th:text="${title}"></h1>
                <div id="sub-info">
                    <span id="writer"><a th:href="@{'/accounts/'+${writer}}" th:text="${writer}"></a></span>
                    <span id="date" th:text="${date}"></span>
                </div>
            </div>

            <article th:utext="${content}"></article>

            <div>
                댓글
            </div>

        </section>
    </body>

</html>
