section {
    word-break: break-all;
    text-align: justify;
}

.info {
    text-align: center;
    position: relative;
    min-height: 130px;
    overflow: auto;
    margin-bottom: 25px;
}

#button-container {
    overflow: auto;
}

#button-container button {
    float: right;
}
