section {
    word-break: break-all;
    text-align: justify;
}

section .info {
    text-align: center;
    position: relative;
    min-height: 130px;
    overflow: auto;
}

section #button-container {
    overflow: auto;
    padding: 30px 0;
}

section #button-container button {
    float: right;
}

@media (max-width: 768px) {

}
