<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block th:fragment="head">

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>

        <link rel="stylesheet" href="/css/layout/layout.css"/>
        <script src="/js/layout/navbar.js"></script>
        <script src="/js/layout/overlay.js"></script>
        <script src="/js/dropdown/dropdown.js"></script>
        <script src="/js/dropdown/my.js"></script>
        <script src="/js/accordion/accordion.js"></script>
        <script src="/js/accordion/in_navigation.js"></script>
        <script src="/js/validate/validate.js"></script>
        <script src="/js/ajax/best_magazines_on_nav.js"></script>
        <script sec:authorize="isAuthenticated()" src="/js/ajax/count_unchecked_notifications.js"></script>

        <script type="text/template" id="magazine-template">
            <li><a href="/magazines/{id}">{title}</a></li>
        </script>
    </th:block>

    <header th:fragment="navbar" class="navbar">
        <button onclick="openNav()">menu</button>
        <div th:replace="::account"></div>
    </header>

    <nav th:fragment="overlay" id="myNav" class="overlay">
        <button onclick="closeNav()">&times;</button>
        <div class="overlay-content">
            <a href="/">Paper</a>
            <hr/>
            <nav>
                <a href="#" id="nav-accordion">&nbsp;&nbsp;&nbsp;Magazines<i class="fa fa-chevron-down"></i></a>
                <ul class="panel">
                    <li><a href="/magazines" id="magazine-list">etc</a></li>
                    <li><a href="/magazine-form"><i class="fa fa-plus"></i></a></li>
                </ul>
            </nav>
            <a href="/tags">Tags</a>
            <hr/>
            <a href="/about">About</a>
        </div>
    </nav>

    <div th:fragment="account">
        <button sec:authorize="!isAuthenticated()" onclick="location.href='/login'">login</button>
        <div sec:authorize="isAuthenticated()" id="account-dropdown">
            <button th:text="${#authentication.name}"></button>
            <div id="accounts">
                <a th:href="@{'/@' + ${#authentication.name}}">about</a>
                <a href="/drafts">draft</a>
                <a href="/notifications">
                    <span id="notification-count"></span> <span>notif</span>
                </a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">logout</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:fragment="footer">
        Footer
    </footer>

</html>
