<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head(title_val,link_tags,script_tags)">
        <title th:text="${title_val}">Dinner</title>
        <th:block th:replace="layout/fragments::head"></th:block>
        <link th:replace="${link_tags}"/>
        <script th:replace="${script_tags}"></script>
    </head>

    <body th:fragment="body(section)">
        <header th:replace="layout/fragments::navbar"></header>
        <div class="container-fluid">
            <section th:replace="${section}"></section>
        </div>
        <footer th:replace="layout/fragments::footer"></footer>
    </body>

</html>
