<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head(title,links,scripts)">
        <title th:replace="${title}">Dinner</title>
        <th:block th:replace="layout/fragments::head"></th:block>
        <link th:replace="${links}"/>
        <script th:replace="${scripts}"></script>
    </head>

    <body th:fragment="body(section)">
        <header th:replace="layout/fragments::navbar"></header>
        <section th:replace="${section}"></section>
        <footer th:replace="layout/fragments::footer"></footer>
    </body>

</html>
