<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${account.username}, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/account/config.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div>
                <h1 th:text="${account.username}"></h1>
            </div>
            <form th:action="@{/public}" th:method="post" th:object="${profileForm}">
                <label>
                    <input type="text" th:field="*{shortIntroduction}">
                </label>
                <button type="submit">수정</button>
            </form>
            <form th:action="@{/private}" th:method="post" th:object="${passwordForm}">
                <label>
                    <input type="password" th:field="*{password}">
                </label>
                <button type="submit">수정</button>
            </form>
        </section>
    </body>

</html>
