<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/account/forgot.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="message">
                    <span id="login-sign">이메일 로그인</span><span id="link-to-signup"><a href="/signup">회원가입</a></span>
                </div>
                <form th:action="@{/forgot}" th:method="put">
                    <div class="form-main">
                        <label><input type="email" name="email" placeholder="이메일" required></label>
                    </div>
                    <div class="form-info">
                        인증된 이메일이 있다면<br/>
                        임의의 새 비밀번호를 전송합니다.
                        <div class="text-danger">이전의 비밀번호는 사용할 수 없습니다.</div>
                    </div>
                    <hr/>
                    <button type="submit">send</button>
                </form>
            </div>
        </section>
    </body>

</html>
