<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${#authentication.name}, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/account/signup.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>

            <div class="centered-content">
                <form th:action="@{/password}" th:method="put" th:object="${passwordForm}">
                    <div class="form-texts">
                        <label>
                            <input type="password" th:field="*{password}" placeholder="새 비밀번호 (8자 이상)">
                            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-text text-danger"></small>
                        </label>
                        <label>
                            <input type="password" th:field="*{passwordConfirm}" placeholder="새 비밀번호 확인">
                            <small th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="form-text text-danger"></small>
                        </label>
                    </div>
                    <button type="submit">수정</button>
                </form>
            </div>

        </section>
    </body>

</html>
