<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${#authentication.name}, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/account/password.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>

            <div>비밀번호 변경</div>
            <form th:action="@{/password}" th:method="put" th:object="${passwordForm}">
                <label>
                    <input type="password" th:field="*{password}">
                </label>
                <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-text text-danger"></small>
                <button type="submit">수정</button>
            </form>

        </section>
    </body>

</html>
