<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${profile.username}, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/account/profile.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div>
                <span th:text="${profile.username}"></span>의 페이지입니다.
            </div>
            <!-- TODO change password -->
            <div th:if="${isOwner}">
                modifiable!
            </div>
        </section>
    </body>

</html>
