<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/account/verify.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div th:if="${email}">
                    <div class="message"><span th:text="${email}"></span>에서 인증메일을 확인해주세요.</div>
                </div>
                <!-- TODO navigate to Profile page -->
                <div th:if="${username}">
                    <div class="message"><span th:text="${username}"></span>님, 가입을 환영합니다.</div>
                </div>
            </div>
        </section>
    </body>

</html>
