<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${account.username}, ~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/account/info.css"/>
        <script src="/js/page/ajaxShowAccount.js"></script>
        <script type="text/template" id="article-template">
            <li>
                <a href="/articles/{id}">{title}</a><span>{date}</span>
                <span>Read: <span>{read}</span></span>
                <span>Like: <span>{like}</span></span>
            </li>
        </script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section th:object="${account}">
            <div>
                <h1 th:text="*{username}" id="username"></h1>
                <a th:if="${#authentication.name}==*{username}" href="/profile">수정</a>
                <div th:text="*{profile?.greeting}"></div>
            </div>
            <div>
                <div>
                    <h2>매거진</h2>
                    <ul id="magazines-of-user"></ul>
                </div>
                <div>
                    <h2>아티클</h2>
                    <ul id="articles-of-user"></ul>
                </div>
                <a th:if="${#authentication.name}==*{username}" href="/private-articles">비공개 아티클 목록</a>
            </div>
        </section>
    </body>

</html>
