<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/account/welcome.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="title">
                    <div><span th:text="${username}"></span> 님,</div>
                    <div>가입을 환영합니다.</div>
                </div>
                <a href="/login" class="account-button">login</a>
            </div>
        </section>
    </body>

</html>
