<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/main/about.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="message">
                    이것은 어바웃 화면 메시지입니다.
                    뭐라고 소개를 할까요.
                </div>
                <hr/>
                <button onclick="location.href='/signup'">
                    signup
                </button>
            </div>
        </section>
    </body>

</html>
