<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/main/home.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="message">
                    기본 로그인 가능합니다.
                    로그인 후 우상단 버튼 드롭다운의 모바일 최적화는 나중에 내비게이션바의 스크롤 인식과 함께 만져보겠습니다.
                    비밀번호 찾기에 해당하는 이메일 로그인과 로그인 기억하기가 남았습니다.
                </div>
                <hr/>
                <button onclick="location.href='/articles/exampleArticle'">
                    read
                </button>
            </div>
            <div class="info">
                <span th:text="${activeProfile}"></span> / <span th:text="${version}"></span>
            </div>
        </section>
    </body>

</html>
