<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/main/home.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="message">
                    domain...
                </div>
                <hr/>
                <button onclick="location.href='/articles/exampleArticle'">
                    read
                </button>
            </div>
            <div class="info">
                <span th:text="${activeProfile}"></span> /
                <span th:text="${#temporals.format(version, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
        </section>
    </body>

</html>
