<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/main/sent.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="message">
                    <span th:text="${email}"></span>로 메일을 보냈습니다.
                </div>
                <hr/>
                <button onclick="location.href='/login'">
                    login
                </button>
            </div>
        </section>
    </body>

</html>
