button {
    border: 0;
    padding: 6px 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.4s;
}

button:hover {
    color: slategray;
}

header button {
    font-weight: 400;
}
