#dropdown-content {
    height: 0;
    transition: 0.7s;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: right;
    margin-right: 20px;
    padding: 7px 15px;
    z-index: 1;
}

#dropdown-content button {
    all: unset;
    cursor: pointer;
}

#dropdown-content a {
    display: block;
    text-decoration: none;
}

#dropdown-content a,
#dropdown-content button {
    padding: 3px 0;
    font-size: 20px;
    color: lightslategray;
    transition: 0.3s;
}

#dropdown-content a:hover,
#dropdown-content button:hover {
    color: dimgray;
}

#dropdown:hover #dropdown-content {
    height: 120px;
}
