#dropdown-content {
    height: 0;
    transition: 0.7s;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: right;
    margin-right: 20px;
    padding: 7px 15px;
    z-index: 1;
}

#dropdown-content button {
    all: unset;
}

#dropdown-content a {
    display: block;
    padding: 3px 0;
    font-size: 18px;
}

#dropdown:hover #dropdown-content {
    height: 120px;
}
