.dropdown {
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    text-align: right;
    padding: 10px 20px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
