@import "/css/layout/_font.css";
@import "/css/layout/_a.css";
@import "/css/layout/_button.css";
@import "/css/layout/_nav.css";
@import "/css/layout/_desk.css";

body {
    background-color: ghostwhite;
    min-height: 100vh;
}

header {
    height: 80px;
    padding: 10px 20px !important;
    position: fixed !important;
    z-index: 1;
    width: 100%;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.scroll-down {
    top: -80px !important;
}

section {
    min-height: calc(100vh - 80px);
    margin: 0 160px;
    padding: 80px 0;
    border-bottom: 1px solid dimgray;
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgray;
}

hr {
    border-top: 1px solid dimgray;
    width: 32px;
}

@media (max-width: 768px) {

    header {
        background-color: lightgray;
        height: 60px;
    }

    section {
        margin: 0;
        padding-top: 120px;
        padding-bottom: 40px;
    }

}
