@import "/css/layout/font.css";
@import "/css/layout/button.css";
@import "/css/layout/navigation.css";
@import "/css/layout/dropdown.css";

body {
    background-color: ghostwhite;
}

header {
    height: 9vh;
    padding: 10px 20px !important;
}

section {
    min-height: 80vh;
    margin: 0 10vw;
    padding: 1vh 0;
    border-bottom: 1px solid dimgray;
}

footer {
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: dimgray;
}

hr {
    border-top: 1px solid dimgray;
    width: 32px;
}

@media (max-width: 768px) {

    section {
        margin: 0 1vw;
    }

}
