<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/notification/sent.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="message">
                    매니저에게 가입 신청 메일을 보냈습니다.
                </div>
                <a th:href="'/magazines/'+${magazineId}">매거진으로 돌아가기</a>
            </div>
        </section>
    </body>

</html>
