@import "/css/page/board/_base.css";
@import "/css/page/board/_accordion.css";


.article-link {
    border-bottom: 1px solid dimgray;
    margin-bottom: 20px;
}

.article-row {
    padding-bottom: 10px;
    overflow: auto;
}

.tag-col {
    margin-right: 10px;
}

.point-col {
    color: dimgray;
}

.right-cols {
    float: right;
}

.writer-col {
    font-size: 20px;
    margin-right: 10px;
}

.article-title {
    font-size: 25px;
    margin-right: 5px;
}

.tag {
    font-size: 15px;
    background-color: #bbddbb;
    border-radius: 5px;
    padding: 1px 5px;
    margin-left: 1px;
}


/*@media (max-width: 768px) {*/

/*    .tag {*/
/*        display: none;*/
/*    }*/

/*    .article-sub-info {*/
/*        display: none;*/
/*    }*/

/*    .date {*/
/*        display: none;*/
/*    }*/

/*}*/
