@import "/css/page/board/_base.css";
@import "/css/page/board/_accordion.css";

section .info #magazine {
    font-size: 30px;
    margin: 15px 0;
    padding: 0;
}

section .info #title {
    margin: 15px 0;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section ul li {
    height: 150px;
    overflow: hidden;
    padding: 15px;
    margin: 30px 0;
    border: solid 1px dimgray;
    border-radius: 15px;
}

section ul .private {
    background-color: lightgray;
}

section ul li .article-info {
    overflow: auto;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
}

section ul li .article-info .article-sub-info {
    float: right;
}

section ul li .article-info .article-sub-info .article-writer {
}

section ul li .article-info .article-sub-info .article-date {
}

section ul li p {
    margin: 0;
    text-indent: 15px;
    font-size: 18px;
}
