@import "/css/page/board/_base.css";
@import "/css/lib/_centered.css";
@import "/css/page/board/_validate.css";
@import "/css/page/board/_category_form.css";


.form-checks {
    margin-bottom: 50px;
}

.form-checks label {
    width: 150px;
    font-size: 18px;
}

.form-checks label input {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .form-checks label {
        display: block;
        width: auto;
    }
}
