@import "/css/page/board/_base.css";
@import "/css/page/board/_accordion.css";


#topics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topic-link {
    height: 220px;
    width: 220px;
    margin: 20px;
    padding: 20px;
    border: solid 1px dimgray;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    #topics {
        display: block;
    }

    .topic-link {
        float: none;
        width: auto;
        height: 80px;
    }
}
