<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_,~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/board/topic/form.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="info">
                    <div class="message">
                        <div>Create New Topic</div>
                        <div>in <span>Palm Tree Canteen</span></div>
                    </div>
                </div>
                <form th:action="@{/#}" th:method="post">
                    <div class="form-texts">
                        <div class="topic-form-info">토픽의 이름을 정해주세요.</div>
                        <label>
                            <input type="text" placeholder="토픽 이름은 최대 20자까지 가능합니다.">
                            <small class="form-text text-danger"></small>
                        </label>
                        <div class="topic-form-info">토픽 소개글을 작성해주세요.</div>
                        <label>
                            <input type="text" placeholder="간략한 소개는 최대 30자까지 가능합니다.">
                            <textarea rows="5" placeholder="자세한 소개는 최대 300자까지 가능합니다."></textarea>
                            <small class="form-text text-danger"></small>
                        </label>
                    </div>
                    <button type="submit">
                        create
                    </button>
                </form>
            </div>
        </section>
    </body>

</html>
