<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:replace="layout/layout::head(${topic.title},~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/topic/view.css"/>
        <script src="/js/accordion/in_board.js"></script>
        <script src="/js/ajax/articles_in_topic.js"></script>

        <script type="text/template" id="article-template">
            <div class="article-link">
                <div class="article-row">
                    <a class="article-title" href="/articles/{id}">{title}</a>
                </div>
                <div class="article-row">
                    <span class="tag-col">{tags}</span>
                    <span class="point-col">reply: {reply} &middot; read: {read} &middot; like: {like}</span>
                    <span class="right-cols">
                        <span class="writer-col"><a class="person" href="/@{writer}">{writer}</a></span>
                        <span class="date-col">{createdAt}</span>
                    </span>
                </div>
            </div>
        </script>
        <script type="text/template" id="tag-template">
            <a href="/tags/{tag}" class="tag">{tag}</a>
        </script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section th:object="${topic}">

            <div class="info">
                <h2 class="parent"><a th:href="'/magazines/'+*{magazine.id}" th:text="*{magazine.title}"></a></h2>
                <h1 class="title" th:text="*{title}"></h1>
                <div class="bi-line">by <a th:href="'/@'+*{owner}" th:text="*{owner}" class="person"></a></div>
                <a href="#" id="board-accordion">
                    <span th:text="*{shortExplanation}"></span>
                    <i class="fa fa-chevron-down" th:unless="*{longExplanation.isEmpty()}"></i>
                </a>
                <div class="panel" th:utext="${#strings.replace(#strings.escapeXml(topic.longExplanation), T(System).getProperty('line.separator'), '<br>')}"></div>
            </div>

            <div id="button-container-wrapper">
                <div id="button-container">
                    <th:block th:if="${topic.magazine.policy.equals('OPEN')}or${topic.magazine.owner.equals(#authentication.name)}or${topic.magazine.members.contains(#authentication.name)}">
                        <form action="/article-form" method="get">
                            <label>
                                <input type="text" name="topicId" th:value="*{id}" hidden>
                            </label>
                            <button type="submit">write</button>
                        </form>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.name}==*{owner}">
                        <form th:action="'/topics/'+*{id}+'/form'" method="get">
                            <button type="submit">update</button>
                        </form>
                        <form th:unless="${topic.hasChild}" th:action="'/topics/'+*{id}" th:method="delete">
                            <button type="submit">delete</button>
                        </form>
                    </th:block>
                </div>
            </div>

            <ul id="articles" class="children"></ul>
            <div id="topic-id" th:text="*{id}" hidden></div>

        </section>
    </body>

</html>
