<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:replace="layout/layout::head(${topic.title},~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/topic/view.css"/>
        <script src="/js/page/accor_board.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section th:object="${topic}">

            <div class="info">
                <h2 id="magazine"><a th:href="'/magazines/'+*{magazine.id}" th:text="*{magazine.title}"></a></h2>
                <h1 id="title" th:text="*{title}"></h1>
                <div>Opened by <span th:text="*{manager}"></span></div>
                <a href="#" id="board-accordion">
                    <span th:text="*{shortExplanation}"></span> <i class="fa fa-chevron-down"></i>
                </a>
                <div class="panel" th:text="*{longExplanation}"></div>
            </div>

            <div id="button-container" sec:authorize="isAuthenticated()">
                <div th:if="${#authentication.name}==*{manager}">
                    <form th:action="'/topics/'+*{id}+'/form'" method="get">
                        <button type="submit">update</button>
                    </form>
                    <form th:if="${topic.getArticleCount()==0}" th:action="'/topics/'+*{id}" th:method="delete">
                        <button type="submit">delete</button>
                    </form>
                </div>
                <div th:if="${topic.magazine.doesAccept(#authentication.name)}">
                    <form action="/article-form" method="get">
                        <label>
                            <input type="text" name="topicId" th:value="*{id}" hidden>
                        </label>
                        <button type="submit">write</button>
                    </form>
                </div>
            </div>

            <!--            TODO AJAX -->
            <!--            <ul sec:authorize="isAuthenticated()">-->
            <!--                <li th:each="article:*{privateArticles}" th:if="${#authentication.name}==${article.writer}" class="private">-->
            <!--                    <div class="article-info">-->
            <!--                        <span>temp</span> <a th:href="@{'/articles/'+${article.id}}" th:text="${article.title}"></a>-->
            <!--                        <div class="article-sub-info">-->
            <!--                            <a class="article-writer" th:href="@{'/@'+${article.writer}}" th:text="${article.writer}"></a>-->
            <!--                            <span class="article-date" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></span>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <p th:utext="${article.content}"></p>-->
            <!--                </li>-->
            <!--            </ul>-->
            <!--            <ul>-->
            <!--                <li th:each="article:*{publicArticles}">-->
            <!--                    <div class="article-info">-->
            <!--                        <a th:href="@{'/articles/'+${article.id}}" th:text="${article.title}"></a>-->
            <!--                        <div class="article-sub-info">-->
            <!--                            <a class="article-writer" th:href="@{'/@'+${article.writer}}" th:text="${article.writer}"></a>-->
            <!--                            <span class="article-date" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></span>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <p th:utext="${article.content}"></p>-->
            <!--                </li>-->
            <!--            </ul>-->

        </section>
    </body>

</html>
