<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_, ~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/main/sent.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="message">
                    <a th:href="'/@'+${member}" th:text="${member}"></a>를
                    <a th:href="'/magazines/'+${magazine.id}" th:text="${magazine.title}"></a>의 멤버로 등록했습니다.
                    <a th:href="'/magazines/'+${magazine.id}+'/members'">멤버 관리 페이지</a>
                </div>
                <hr/>
            </div>
        </section>
    </body>

</html>
