<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_,~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/magazine/form.css"/>
        <script src="/js/validate/in_board.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <form th:action="'/magazines'" th:method="post" th:object="${magazineForm}" id="board-form" novalidate>
                    <div class="form-texts">
                        <div class="box">
                            <div class="guide-message">매거진의 이름을 정해주세요.</div>
                            <label>
                                <input th:field="*{title}" type="text" placeholder="매거진 이름은 최대 20자까지 가능합니다." required maxlength="20">
                                <small class="invalid-feedback"><i class="fa fa-ban"></i></small>
                                <small class="valid-feedback"><i class="fa fa-check"></i></small>
                                <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="form-text text-danger"></small>
                            </label>
                        </div>
                        <div class="box">
                            <div class="guide-message">매거진 소개글을 작성해주세요.</div>
                            <label>
                                <input th:field="*{shortExplanation}" type="text" placeholder="간략한 소개는 최대 30자까지 가능합니다." required maxlength="30">
                                <small class="invalid-feedback"><i class="fa fa-ban"></i></small>
                                <small class="valid-feedback"><i class="fa fa-check"></i></small>
                                <small th:if="${#fields.hasErrors('shortExplanation')}" th:errors="*{shortExplanation}" class="form-text text-danger"></small>
                            </label>
                            <label>
                                <textarea th:field="*{longExplanation}" rows="5" placeholder="자세한 소개는 최대 255자까지 가능합니다. 생략할 수 있습니다." maxlength="255"></textarea>
                                <small class="invalid-feedback"><i class="fa fa-ban"></i></small>
                                <small class="valid-feedback"><i class="fa fa-check"></i></small>
                                <small th:if="${#fields.hasErrors('longExplanation')}" th:errors="*{longExplanation}" class="form-text text-danger"></small>
                            </label>
                        </div>
                    </div>
                    <div class="form-checks">
                        <div class="guide-message">매거진 성격을 설정해주세요.</div>
                        <label for="radio-1"><input name="policy" type="radio" id="radio-1" value="OPEN" checked/>open</label>
                        <label for="radio-2"><input name="policy" type="radio" id="radio-2" value="MANAGED"/>managed</label>
                        <label for="radio-3"><input name="policy" type="radio" id="radio-3" value="EXCLUSIVE"/>exclusive</label>
                        <small th:if="${#fields.hasErrors('policy')}" th:errors="*{policy}" class="form-text text-danger"></small>
                    </div>
                    <button type="submit">
                        issue
                    </button>
                </form>
            </div>
        </section>
    </body>

</html>
