<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_,~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/magazine/list.css"/>
        <script src="/js/page/acc_board.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <h1>All Magazines</h1>
            <ul th:each="magazineDto:${magazineDtoList}">
                <li><a th:href="@{'/magazines/'+${magazineDto.id}}" th:text="${magazineDto.title}"></a></li>
            </ul>
        </section>
    </body>

</html>
