<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_,~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/board/magazine/list.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <h1>All Magazines</h1>
            <ul th:each="magazine:${magazines}">
                <li><a th:href="@{'/magazines/'+${magazine.id}}" th:text="${magazine.title}"></a></li>
            </ul>
        </section>
    </body>

</html>
