<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_,~{::link}, ~{})">
        <link rel="stylesheet" href="/css/page/board/magazine/list.css"/>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered title">매거진 스탠드</div>
            <div class="space"></div>
            <ul id="magazines" class="children">
                <li th:each="magazine:${magazines}" class="magazine-link">
                    <div class="centered">
                        <div class="magazine-title">
                            <a th:href="'/magazines/'+${magazine.id}" th:text="${magazine.title}"></a>
                        </div>
                        <div class="magazine-owner">
                            by <a th:href="'/@'+${magazine.owner}" th:text="${magazine.owner}" class="person"></a>
                        </div>
                        <div th:text="${magazine.shortExplanation}"></div>
                    </div>
                </li>
            </ul>
        </section>
    </body>

</html>
