<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(_,~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/magazine/members.css"/>
        <script src="/js/page/ajaxFindAccount_magazine.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>
            <div class="centered-content">
                <div class="message">
                    작가 관리 페이지입니다.
                </div>
                <div>
                    <h2>현재 등록된 작가</h2>
                    <div th:if="${members.isEmpty()}">허가된 작가가 없습니다.</div>
                    <ul th:unless="${members.isEmpty()}">
                        <li th:each="member:${members}">
                            <a th:href="@{'/@'+${member}}" th:text="${member}"></a>
                            <form th:action="'/magazines/'+${id}+'/'+${member}" th:method="delete">
                                <button type="submit">remove</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2>작가 등록</h2>
                    <form id="username-form">
                        <label hidden>
                            <input name="current" type="text" th:value="${#authentication.name}" hidden>
                        </label>
                        <label>
                            <input name="username" type="text" placeholder="승인할 작가">
                        </label>
                        <button type="submit" id="findByUsername">find</button>
                    </form>
                    <script id="account-template" type="text/template">
                        <div>
                            <span>이름 {name}</span><span>이메일 {email}</span>
                            <form th:action="'/magazines/'+${id}+'/{username}'" th:method="post">
                                <button type="submit">add</button>
                            </form>
                        </div>
                    </script>
                    <div id="found-position"></div>
                </div>
                <a th:href="'/magazines/'+${id}">수정 완료</a>
            </div>
        </section>
    </body>
</html>
