<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${title},~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/magazine/view.css"/>
        <script src="/js/magazine.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section>

            <div class="info">
                <h1 id="title" th:text="${title}"></h1>
                <div id="authorities">
                    <span id="authority">managed</span> by
                    <a class="writer" th:href="@{'/accounts/채원'}">채원</a>
                    <a class="writer" th:href="@{'/accounts/도언'}">도언</a>
                    <a class="writer" th:href="@{'/accounts/조신'}">조신</a>
                </div>
                <a href="#" id="introduction">매거진 한 줄 소개를 적는 곳입니다.<i class="fa fa-chevron-down"></i></a>
                <div class="panel">
                    <p>매거진에 대한 긴 소개를 적는 곳입니다.</p>
                    <p>기이이이이 이이이 이이이이 이이 이이인 소개애애애 애애애.</p>
                </div>
            </div>

            <div id="button-container">
                <!-- TODO select button whether principal is creatable -->
                <button>apply</button>
                <button onclick="location.href='/topic-form'">create</button>
            </div>

            <ul>
                <li>
                    <a href="/topics/exampleTopic">예시 토픽의 이름</a>
                </li>
                <li>
                    <a href="/topics/exampleTopic">조금 길지만 이 정도면 말이 되는 토픽의 이름</a>
                </li>
                <li>
                    <a href="/topics/exampleTopic">example topic</a>
                </li>
                <li>
                    <a href="/topics/exampleTopic">Example Topic</a>
                </li>
                <li>
                    <a href="/topics/exampleTopic">이따위 토픽 이름을 짓는 사람이 있을까 모르겠지만 테스트를 위해 만들어 봅시다. 기왕 만드는 김에 조금만 더 길게 만들어 봅시다.
                        구조를 깨트리지는 않고 본인만 이상하게 보이는군요. 그럼 됐습니다.</a>
                </li>
                <li>
                    <a href="/topics/exampleTopic">Does Nathan test TOPIK?</a>
                </li>
                <li>
                    <a href="/topics/exampleTopic">One more topic</a>
                </li>
            </ul>

        </section>
    </body>

</html>
