<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:replace="layout/layout::head(${magazine.title},~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/magazine/view.css"/>
        <script src="/js/accordion/in_board.js"></script>
        <script src="/js/ajax/topics_in_magazine.js"></script>
        <script src="/js/alert/on_apply.js"></script>

        <script type="text/template" id="topic-template">
            <li class="topic-link"><a href="/topics/{id}">{title}</a></li>
        </script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section th:object="${magazine}">

            <div class="info">
                <h1 class="title" th:text="*{title}"></h1>
                <div class="bi-line">
                    by <a th:href="'/@'+*{owner}" th:text="*{owner}" class="person"></a>
                    <th:block th:each="member:*{members}">
                        <a class="writer" th:href="@{'/@'+${member}}" th:text="${member}"></a>
                    </th:block>
                    <th:block th:each="writer:*{writers}">
                        <a class="writer" th:href="@{'/@'+${writer}}" th:text="${writer}"></a>
                    </th:block>
                </div>
                <a href="#" id="board-accordion">
                    <span th:text="*{shortExplanation}"></span>
                    <i class="fa fa-chevron-down" th:unless="*{longExplanation.isEmpty()}"></i>
                </a>
                <div class="panel" th:utext="${#strings.replace(#strings.escapeXml(magazine.longExplanation), T(System).getProperty('line.separator'), '<br>')}"></div>
            </div>

            <div id="button-container-wrapper">
                <div id="button-container">
                    <th:block th:if="${magazine.policy.equals('OPEN')}or${magazine.owner.equals(#authentication.name)}or${magazine.members.contains(#authentication.name)}">
                        <form action="/topic-form" method="get">
                            <label>
                                <input type="text" name="magazineId" th:value="*{id}" hidden>
                            </label>
                            <button type="submit">create</button>
                        </form>
                    </th:block>
                    <th:block th:if="${magazine.policy.equals('MANAGED')}and${magazine.owner!=#authentication.name}">
                        <th:block th:unless="${magazine.members.contains(#authentication.name)}">
                            <form th:action="'/magazines/'+*{id}+'/members/apply'" th:method="post">
                                <button id="apply-button" type="submit">apply</button>
                            </form>
                        </th:block>
                        <th:block th:if="${magazine.members.contains(#authentication.name)}">
                            <form th:action="'/magazines/'+*{id}+'/members/quit'" th:method="post">
                                <button type="submit">quit</button>
                            </form>
                        </th:block>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.name}==*{owner}">
                        <form th:action="'/magazines/'+*{id}+'/form'" method="get">
                            <button type="submit">update</button>
                        </form>
                        <form th:unless="${magazine.hasChild}" th:action="'/magazines/'+*{id}" th:method="delete">
                            <button type="submit">delete</button>
                        </form>
                        <form th:if="${magazine.policy.equals('MANAGED')}" th:action="'/magazines/'+*{id}+'/members'" method="get">
                            <button type="submit">member</button>
                        </form>
                    </th:block>
                </div>
            </div>

            <ul id="topics" class="children"></ul>
            <div id="magazine-id" th:text="*{id}" hidden></div>
        </section>
    </body>

</html>
