<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="layout/layout::head(${magazineDto.title},~{::link}, ~{::script})">
        <link rel="stylesheet" href="/css/page/board/magazine/view.css"/>
        <script src="/js/page/acc_board_magazine.js"></script>
    </div>

    <body th:replace="layout/layout::body(~{::section})">
        <section th:object="${magazineDto}">

            <div class="info">
                <h1 id="title" th:text="*{title}"></h1>
                <div id="authorities">
                    <span id="authority" th:text="*{magazinePolicy}"></span> by <span th:text="*{manager}"></span>
                    <div th:each="writer:*{writers}">
                        written by
                        <a class="writer" th:href="@{'/accounts/'+${writer}}" th:text="${writer}"></a>
                    </div>
                </div>
                <a href="#" id="introduction">
                    <span th:text="*{shortExplanation}"></span> <i class="fa fa-chevron-down"></i>
                </a>
                <div class="panel" th:text="*{longExplanation}"></div>
            </div>

            <div id="button-container">
                <!-- TODO select button whether principal is creatable -->
                <button>apply</button>
                <form action="/topic-form" method="get">
                    <label>
                        <input type="text" name="magazineId" th:value="*{id}" hidden>
                    </label>
                    <button type="submit">create</button>
                </form>
            </div>

            <ul>
                <li>
                    <a href="/board/exampleMagazine/topics">예시 토픽의 이름</a>
                </li>
                <li>
                    <a href="/board/exampleMagazine/topics">조금 길지만 이 정도면 말이 되는 토픽의 이름</a>
                </li>
                <li>
                    <a href="/board/exampleMagazine/topics">example topic</a>
                </li>
                <li>
                    <a href="/board/exampleMagazine/topics">Example Topic</a>
                </li>
                <li>
                    <a href="/board/exampleMagazine/topics">이따위 토픽 이름을 짓는 사람이 있을까 모르겠지만 테스트를 위해 만들어 봅시다. 기왕 만드는 김에 조금만 더 길게 만들어 봅시다.
                        구조를 깨트리지는 않고 본인만 이상하게 보이는군요. 그럼 됐습니다.</a>
                </li>
                <li>
                    <a href="/board/exampleMagazine/topics">Does Nathan test TOPIK?</a>
                </li>
                <li>
                    <a href="/board/exampleMagazine/topics">One more topic</a>
                </li>
            </ul>

        </section>
    </body>

</html>
