@import "/css/lib/_centered.css";

section .message {
    color: black;
    font-size: 35px;
}

section hr {
    border-top: 1px solid dimgray;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media (max-width: 768px) {

    section .message {
        font-size: 27px;
    }

}
