@import "/css/lib/_centered.css";
@import "/css/page/account/_button.css";
@import "/css/page/account/_form.css";


.form-sub {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 0 3px;
    font-size: 15px;
}

.checkbox {
    margin-right: 3px;
}
