@import "/css/page/account/_base.css";

section .centered-content {
    width: 320px;
}

section .centered-content form .form-texts {
    margin: 30px 0;
}

section .centered-content form .form-texts label {
    position: relative;
}

section .centered-content form .form-texts label input {
    width: 100%;
    padding: 10px;
}

section .centered-content form .form-texts label .invalid-feedback,
section .centered-content form .form-texts label .valid-feedback {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 10px 0 0;
    font-size: 30px;
    text-align: right;
}

section .centered-content form label small {
    font-size: 16px;
}

section .centered-content form .form-checks label #term-hint {
    display: none;
}
