@import "/css/page/account/base.css";

section .centered-content .message {
    word-break: break-all;
}

section .centered-content .message small {
    font-weight: 300;
}

@media (max-width: 768px) {
    section .centered-content {
        width: 100%;
    }

    section .centered-content .message {
        font-size: 25px;
    }
}
