@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

body {
    animation: 1s ease-out 0s 1 fadeIn;
    background-image: url("/images/home.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .centered-content {
    text-align: center;
    width: 66vw;
}

section .main-message {
    color: ghostwhite;
    font-size: 35px;
}

section hr {
    border-top: 1px solid dimgray;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media (max-width: 768px) {
    section .main-message {
        font-size: 27px;
    }

}
