.note-editable p,
article p {
    margin-bottom: 10px;
    text-indent: 10px;
    font-size: 20px;
}

.note-editable blockquote,
article blockquote {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 3px solid lightgray;
    font-size: 18px !important;
}

.note-editable pre,
article pre {
    margin-left: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

.note-editable h1,
article h1 {
    margin-bottom: 15px;
    font-weight: 400;
}

.note-editable h2,
article h2 {
    margin-bottom: 15px;
    font-weight: 400;
}

.note-editable h3,
article h3 {
    margin-bottom: 15px;
    font-weight: 400;
}

.note-editable h4,
article h4 {
    margin-bottom: 15px;
    font-weight: 400;
}

.note-editable h5,
article h5 {
    margin-bottom: 15px;
    font-weight: 400;
}

.note-editable h6,
article h6 {
    margin-bottom: 15px;
    font-weight: 400;
}

.note-editable img,
article img {
    margin-bottom: 15px;
    width: 100%;
}
