@import "/css/page/board/_base.css";

section {
    padding-top: 120px;
    padding-bottom: 40px;
}

section form {
    height: calc(100vh - 245px);
}

section form #bar {
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

section form #bar label {
    margin: 0;
}

section form #bar #title {
    min-width: 200px;
    width: 50%;
}

section form #bar #title input {
    padding: 10px;
    width: 100%;
}

section form #bar #url {
    margin: 0 10px;
}

section form #bar #url input {
    padding: 10px;
    width: 200px;
    margin: 0;
}

section form #bar button {
    height: 100%;
    position: absolute;
    right: 0;
}

section form #error-message {
    margin-bottom: 10px;
    text-align: center;
}

section form #error-message span {
    display: inline;
    margin-right: 15px;
}

section form #editor {
    height: calc(100% - 60px);
}

@media (max-width: 1280px) {

    section form #bar #url-prefix {
        display: none;
    }
}

@media (max-width: 1024px) {

    section form #bar {
        height: auto;
        display: block;
    }

    section form #bar #title {
        width: calc(100% - 150px);
    }

    section form #bar #title input {
        margin-bottom: 10px;
    }

    section form #bar #url {
        width: calc(100% - 150px);
        margin: 0;
    }

    section form #bar #url-prefix {
        display: inline-block;
    }

    section form #bar button {
        height: calc(100% - 40px);
        top: 20px;
    }

    section form #editor {
        height: calc(100% - 120px);
    }

}

@media (max-width: 480px) {
    section form #bar #url-prefix {
        display: none;
    }
}

