@import "/css/page/board/_base.css";


#sub-info {
    font-size: 20px;
    margin: 15px 0;
    float: right;
}

#sub-info #date {
    margin-right: 10px;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid dimgray;
}

article h2 {
    padding-top: 30px;
    margin-bottom: 15px;
}

article h3 {
    text-indent: 15px;
    padding-top: 30px;
    margin-bottom: 15px;
}

article p {
    font-size: 18px;
    text-indent: 15px;
    margin-bottom: 10px;
}

article p img {
    width: 100%;
}

#reply-form-container {
    margin: 25px 0;
}

#reply-input {
    width: 55%;
    margin-left: 50px;
}

.writer-col {
    width: 15%;
}

.content-col {
    width: 55%
}

.date-col {
    text-align: right;
}

#like {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: unset;
    color: red;
}

#like-icon:hover {
    font-size: 30px;
}

.tag {
    color: black;
    background-color: #bbddbb;
    border-radius: 10px;
    padding: 2px 6px;
    margin: 3px;
}
